/* Tyler Kendall
   4/14/2022 */

.italics {
    font-style:italic;
}

.semi-bold {
    font-weight:600;
}

.thin {
    font-weight: 100;
}

.underline {
    text-decoration: underline;
}